.resimSlider {
    height: 500px;
    

}
body{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.hakkimda{
    background-color:lavender;
}
.ayrac{
    border:none ;
    border-top: 3px solid purple;
    max-width: 300px;
    margin: 25px auto;
    
}
.ilavander{
    color:purple;
    position: relative ; 
    top : -47px;
    font-size : 35px;
    border: 10px solid lavender;
    background-color:lavender;

}
.ibeyaz{
    color: purple;
    position: relative ; 
    top : -47px;
    font-size : 35px;
    border: 10px solid #ffcccc;
    background-color:#ffcccc;

}
.ozgeçmişim{
    background-color:#ffcccc;
}
.sehrim{
    background-color:  #e6faff;
}
.isiyah{
    color: purple;
    position: relative ; 
    top : -47px;
    font-size : 35px;
    border: 10px solid #e6faff ;
    background-color: #e6faff;

 

}
.mirasimiz{
    background-color: #ffffe6;
}
.ikirmizi{
    color: purple;
    position: relative ; 
    top : -47px;
    font-size : 35px;
    border: 10px solid #ffffe6 ;
    background-color: #ffffe6;

}
.ilgialanlarim{
    background-color:  #e6ffe6;
}
.imor{
    color: purple;
    position: relative ; 
    top : -47px;
    font-size : 35px;
    border: 10px solid #e6ffe6;
    background-color:#e6ffe6 ;

}
.iletisim{
    background-color: #ffe0cc;
}
.isari{
    color: purple;
    position: relative ; 
    top : -47px;
    font-size : 35px;
    border: 10px solid  #ffe0cc;
    background-color: #ffe0cc ;

}
.login{
    background-color: #ffe6e6 ;
}
.iyeşil{
    color: purple;
    position: relative ; 
    top : -47px;
    font-size : 35px;
    border: 10px solid  #ffe6e6 ;
    background-color: #ffe6e6  ;

}
.form-control{
    width: 350px;
    margin: auto;
}

.btn {
    margin:auto;
    background-color: #00cccc;
}
.kullaniciadi{
    margin: auto;
    width: 350px;
}
.contact-form{
    width: 500px;
    margin-left: 385px;
    
}
input,textarea{width:100%; padding:12px 20 px ; margin: 4px 0; box-sizing: border-box; border-radius: 5px;}
button[type=gönder] { background-color:   #4dffff; color #ffffff; cursor: pointer; font-size : 20px; }

